.bienvenida{
    background-color: #282828;
    text-align: center;
    font-size: 15px;
    padding: 20px;
    letter-spacing: 3px;
    color: whitesmoke;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
}


form {
    max-width: 600px;
    height: 350px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 50px 60px rgba(255, 255, 255, 0.5), 
           		0 25px 25px rgba(255, 255, 255, 0.5);
    background: url(../img/fondobloqueado.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

label {
    display: block;
    margin-bottom: 8px;
}


input {
	background-color:#b0abab ;
	border: none;
	padding: 12px 15px;
	margin: 20px 0;
	width: 80%;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #ffd700; 
    color: #000; 
    cursor: pointer;
    
}

input[type="submit"]:hover {
    background-color: #cca300; 
}
#video-fondo {
    margin-top: 180px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    object-fit: cover;
    z-index: -1; 
}
img, video {
    max-width: 100%;
    height: auto;
}
.error-message {
    color: red;
    margin-bottom: 10px;
}