body {
    background-color: #f8f9fa;
    color: #495057;
}

.pt1 {
    padding-top: 20px;
}

.container {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
    color: #007bff;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #dee2e6;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #007bff;
    color: #fff;
}

form {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

input[type="submit"], .btn-secondary {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover, .btn-secondary:hover {
    background-color: #0056b3;
}

.empty-cart {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: #6c757d;
}

/* Estilos Bootstrap */
.btn-danger {
    background-color: #dc3545;
    color: #fff;
    transition: background-color 0.3s ease;
}

.btn-primary {
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #0056b3;
}