.contenedor1{
    display:flex;
  }
  .contenedor2{
    display:flex;
    flex-direction:column;
    width:40%;
    
    
  }
  body{
    margin: 40px;
     
  }
  
  .izquierdaAlta{
     
    height: 300px;
    background-color:rgb(42, 42, 43);
    
    
  }
  
   .izqAlta form{
     margin-left: 20px;
     margin-top:10px;
   }
  
  .izquierdaBaja{
     
    height: 300px;
    overflow-y: scroll;
    color: white;
    background-color: rgb(78, 78, 80);
    
  }
  .derecha{
     width:60%;
     height: 600px;
     background-color:rgb(42, 42, 43);
     display:flex;
     justify-content: center;
     align-items: center;
    
          
  }
  
   
  .estiloformulario{
      border: 1px solid black;
      padding: 20px;
      background:rgb(0, 0, 0);
      color: #ffa500;
      border-radius: 10px;
  }
  
  
  td,th{
    padding:10px;
    
  }
  body{
    margin:50px;
  }
  .wrapper {
    background-color: rgb(0, 0, 0);
    list-style-type: none;
    padding: 0;
    border-radius: 3px;
     
  }
  .form-row {
    display: flex;
    justify-content: flex-end;
    padding: .5em;
  }
  .form-row > label {
    padding: .5em 1em .5em 0;
    flex: 1;
  }
  .form-row > input {
    flex: 2;
  }
  .form-row > input,
  .form-row > button {
    padding: .5em;
  }
  .form-row > button {
  background: #ffa500;
  color: white;
  border: 0;
  }
  
  /* reducir tamano del formulario*/
  form{
    width: 50%;  
  }
  legend{
    font-style: bold;
    font-size: larger;
    color: #ffa500;
  }
   